# Symfony
###> symfony/framework-bundle ###
/back/.env.local
/back/.env.local.php
/back/.env.*.local
/back/var/cache/
/back/var/log/
/back/vendor/
/public/bundles/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/back/public/assets/
/back/assets/vendor/
###< symfony/asset-mapper ###

# IDE
.idea/

# Optional: fichiers système
.DS_Store
Thumbs.db
