<footer class="footer blue">
    <div class="footer__section">
        <h3>News Letter</h3>
        <form class="footer__newsletter">
            <input type="email" placeholder="Entrez votre adresse e-mail" />
            <button type="submit">S’abonner</button>
            <small>Nous ne vous enverrons jamais de spam !</small>
        </form>
    </div>



    <div class="footer__section">
        <h3>Liens utiles</h3>
        <ul>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Accessibilité</a></li>
        </ul>
    </div>
    <div class="footer__section">
        <h3>Contact / Support</h3>
        <p>12 Av. Jean Mermoz, 69008 Lyon</p>
        <p>(+33) 02 000 000 00</p>
        <p>mairiedu8eme@mail.gov</p>
    </div>

    <div class="footer__bottom">
        <p>© 2025 Ville de Lyon. Tous droits réservés.</p>
    </div>
</footer>

