<section class="container--partner">
    <img src="{{ asset('pictures/service.jpg') }}" alt="Portrait">
    <img src="{{ asset('pictures/logo_kpkt.jpg') }}" alt="Portrait">
    <img src="{{ asset('pictures/kem_digital.jpg') }}" alt="Portrait">
    <img src="{{ asset('pictures/selangor.jpg') }}" alt="Portrait">
</section>
