# Symfony
###> symfony/framework-bundle ###
.env.*
.env.local.php
.env.*.local
/var/cache/
/var/log/
/vendor/
/public/bundles/
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
# IDE
.idea/
.vscode/
.qodo/
# Optional: fichiers système
.DS_Store
Thumbs.db