<section class="about">
    <div class="about-container">

        <div class="about-content">
            <div class="about-text">
                <h2>Bienvenue sur Portail Citoyen Votre, voix pour une ville meilleure !</h2>
                <p>Portail Citoyen est une plateforme participative qui vous permet de faire entendre vos idées pour
                    améliorer votre cadre de vie. Que vous souhaitiez proposer de nouvelles initiatives, soutenir
                    celles des autres ou suivre l’évolution des projets,
                    tout est pensé pour faciliter votre engagement citoyen.
                </p>
                <a href="{{ path('app_home') }}" class="about-button">En savoir-plus >></a>
            </div>
            <img src="{{ asset('pictures/pj-image.jpg') }}" alt="Portrait">

        </div>

    </div>
</section>
