<section class="function-section">

    <div class="about-content">
        <div class="function-content">
            <h2 class="">Nos fonctionnalités</h2>
            <p>Explorez les outils qui facilitent votre participation citoyenne et rendent vos idées visibles.</p>
        </div>
    </div>
</section>

<section class="green function-section">

       <div class="card--container">
         <div class="card--function">

               <img src="{{ asset('pictures/Auth.jpg') }}" alt="Portrait">
               <h3>Authentification</h3>

             <p>Connectez-vous pour participer, proposer et voter</p>
         </div>
         <div class="card--function">

               <img src="{{ asset('pictures/aduan.jpg') }}" alt="Portrait">
               <h3>Proposer un idée</h3>

             <p>Partagez vos idées et contribuez à améliorer votre ville</p>
         </div>
         <div class="card--function">

                 <img src="{{ asset('pictures/eLesen.jpg') }}" alt="Portrait">
               <h3>Voir toutes les propositions</h3>

             <p>Découvrez toutes les idées citoyennes en un clic !</p>

         </div>
         <div class="card--function">

               <img src="{{ asset('pictures/hawker.jpg') }}" alt="Portrait">
               <h3>Voter pour des propositions</h3>

             <p>Soutenez les idées qui vous tiennent à cœur !</p>
         </div>
       </div>

</section>

<section class="function-section">

    <div class="about-content">
        <div class="function-content">
            <h2 class="">En chiffres</h2>
            <p>Un aperçu des contributions et de la participation des citoyens sur la plateforme.</p>
        </div>
    </div>
</section>

<section class="blue function-section">

    <div class="card--container">
        <div class="card--function--static">
            <h3>1256</h3>
            <h4>Citoyens actifs</h4>
            <p>Connectez-vous pour participer, proposer et voter</p>
        </div>

        <div class="card--function--static">
                <h3>25</h3>
                <h4>Propositions exprimées</h4>
            <p>Vous avez proposé 25 propositions à réaliser</p>
        </div>

        <div class="card--function--static">
            <h3>99</h3>
            <h4>Votes exprimés</h4>
            <p>Vous avez émis 99 votes</p>
        </div>

        <div class="card--function--static">
            <h3>7</h3>
            <h4>Projets réalisés</h4>
            <p>On a réalisé 7 projets grace à vous</p>
        </div>
    </div>

</section>
